#!/bin/sh

echo "                                      "
echo "  _____ _ _             _ _       _   "
echo " / ____(_) |           (_) |     | |  "
echo "| (___  _| |_ ___ _ __  _| | ___ | |_ "
echo " \___ \| | __/ _ \ '_ \| | |/ _ \| __|"
echo " ____) | | ||  __/ |_) | | | (_) | |_ "
echo "|_____/|_|\__\___| .__/|_|_|\___/ \__|"
echo "                 | |                  "
echo "                 |_|                  "

echo " "
echo "Hi There!
Your site's files are in the /www folder.
If you need help just open a ticket on https://support.sitepilot.nl
Have a wonderful day!"
echo " "
