[{{ site_name }}]
listen = /run/php/php{{ php_version }}-fpm.sock
listen.owner = www-data
listen.group = www-data
user = {{ user_name }}
group = www-data
pm = ondemand
pm.max_children = {{ php_max_children }}
pm.max_requests = 2500
chdir = /www/{{ site_name }}/public
php_admin_value[newrelic.appname] = $pool
