#!/bin/bash
# {{ ansible_managed }}
ENCRYPT_PASS=`/usr/local/lsws/admin/fcgi-bin/admin_php -q /usr/local/lsws/admin/misc/htpasswd.php $2`
echo "$1:$ENCRYPT_PASS" > /usr/local/lsws/admin/conf/htpasswd 

if [ $? -eq 0 ]; then
    echo "Administrator's username/password is updated successfully!"
fi
