# {{ ansible_managed }}
location ~* ^/-/phpmyadmin(?<pmauri>/.*)? {
    alias /usr/share/phpmyadmin/;

    index index.php;

    try_files $pmauri $pmauri/ =404;

    location ~ \.php$ {
        include fastcgi.conf;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$pmauri;
        fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
    }
}