# {{ ansible_managed }}

fastcgi_cache_path /opt/sitepilot/sites/{{ site_name }}/.cache levels=1:2 keys_zone={{ site_name }}:100m inactive=1d;

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name {{ site_domains | join(' ') }};

  set $site_name {{ site_name }};
  set $php_version {{ php_version }};
  set $base /opt/sitepilot/sites/{{ site_name }};
  set $static_files_cache 7d;

  root $base/files;

  index index.php index.html;

  # SSL
  include global/https.conf;
  ssl_certificate /etc/nginx/sites-available/.default.crt;
  ssl_certificate_key /etc/nginx/sites-available/.default.key;

  # Logs
  access_log /opt/sitepilot/sites/{{ site_name }}/logs/access.log;
  error_log /opt/sitepilot/sites/{{ site_name }}/logs/error.log;

  # Static files
  include global/static-files.conf;

{% if site_security_enabled %}
  # Security
  include global/security.conf;
{% endif %}

{% if site_htpasswd | length > 0 %}
  # Basic auth
  auth_basic "Restricted Content";
  auth_basic_user_file $base/.config/htpasswd;
{% endif %}

{% if site_cache_enabled %}
  # Cache
  include global/fastcgi-cache.conf;
{% endif %}

  # Global locations
  include locations/*;

  # Pretty URLs
  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~* /-/ping/ {
    include fastcgi.conf;
    fastcgi_pass unix:/run/php/php${php_version}-${site_name}.sock;
  }

  # PHP
  location ~ \.php$ {
    try_files $uri =404;
    include fastcgi.conf;
{% if site_cache_enabled %}
    fastcgi_cache_bypass $skip_cache;
    fastcgi_no_cache $skip_cache;
    fastcgi_cache {{ site_name }};
    fastcgi_cache_valid 200 301 1d;
{% endif %}
    fastcgi_pass unix:/run/php/php${php_version}-${site_name}.sock;
  }
}

# HTTPS redirect
server {
  listen 80;
  listen [::]:80;
  server_name {{ site_domains | join(' ') }};
  return 301 https://$host$request_uri;
}
