# {{ ansible_managed }}
[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/opt/sitepilot/stack/node-exporter/bin/node_exporter --web.telemetry-path="/-/monitor/metrics/" --web.listen-address=127.0.0.1:9100

[Install]
WantedBy=multi-user.target
