entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      insecure: true

  websecure:
    address: ":443"
    forwardedHeaders:
      insecure: true

serversTransport:
  insecureSkipVerify: true

providers:
  http:
    endpoint: {{ traefik_config_endpoint }}

certificatesResolvers:
  letsencrypt:
    acme:
      email: letsencrypt@sitepilot.io
      storage: /etc/traefik/acme.json
      httpChallenge:
        entrypoint: web
