#!/usr/bin/env bash
# {{ ansible_managed }}

set -euo pipefail

(exec -a jailshell bwrap --ro-bind /usr /usr \
      --dir /tmp \
      --dir /var \
      --symlink ../tmp var/tmp \
      --proc /proc \
      --dev /dev \
      --bind /opt/sitepilot/sites/${USER} /opt/sitepilot/sites/${USER} \
      --ro-bind /etc/ssl /etc/ssl \
      --ro-bind /etc/resolv.conf /etc/resolv.conf \
      --symlink usr/lib /lib \
      --symlink usr/lib64 /lib64 \
      --symlink usr/bin /bin \
      --symlink usr/sbin /sbin \
      --unshare-all \
      --share-net \
      --die-with-parent \
      --dir /run/user/$(id -u) \
      --setenv XDG_RUNTIME_DIR "/run/user/$(id -u)" \
      --setenv PS1 "$(id -nu)$ " \
      --file 11 /etc/passwd \
      --file 12 /etc/group \
      /bin/bash -l "$@") \
    11< <(getent passwd $UID 65534) \
    12< <(getent group $(id -g) 65534)
